<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" class="link-item" title="" id="blog-button">Blog</a>
      <a href="/gaming" class="link-item" title="" id="tags-button">Gaming</a>
      <a href="http://photos.cjt.io" class="link-item" title="" id="photos-button">Photos</a>
      <a href="mailto:me@cjt.io" class="link-item" title="" id="contact-button">Contact</a>
    </li>
  </ul>
</nav>
